body {
  width: 64em;
  margin: 0 auto;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background-color: #FFEFD5;
}
header {
  padding: 0.5em 1em 0;
  background-color: #F76902;
  color: #FFFFFF;
  text-align: center;
  border-bottom: 0.5em solid #FFFFFF;
}
header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header ul li {
  display: inline-block;
  margin: 0;
  width: 8em;
  text-align: center;
}
header ul li:hover {
  background-color: #FF4500;
}
header ul li.selected {
  background-color: #FFFFFF;
}
header ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
header ul li.selected a {
  color: #F76902;
}
.caption {
  display: inline-block;
  position: relative;
  top: -0.45em;
  left: -0.25em;
  margin: 0;
  padding: 0 0.5em;
  font-size: 1.25em;
  font-style: italic;
  border-bottom: 0.25em solid #F76902;
}
footer {
  padding: 0 1em 0.5em;
  background-color: #F76902;
  color: #FFDAB9;
  text-align: center;
  border-top: 0.5em solid #FFFFFF;
}